.header-component-main-div {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsla(0, 100%, 50%, 0.5);
}

.header-component-main-h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

.header-component-main-h2:hover {
  color: black;
}
