.landing-page-component-main-div {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.landing-page-component-main-h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.landing-page-component-main-button {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  background-color: hsla(0, 100%, 50%, 0.25);
  color: black;
  cursor: pointer;
}

.landing-page-component-main-button:hover {
  background-color: red;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
}
